body {

margin: auto;
text-align: center;
font-family: monospace;
padding: 2px;
}

input {

padding:  20px;
margin: 0px;
font-size: 30px;
}


h1 {

font-size: 70px;
}

h3 {

font-size: 35px;
color: skyblue;
padding: 0px;


}

p {

font-size: 30px;
}